div.welcome {
  color: #f6e1af;
  text-align: center;
  overflow: hidden;
  background-color: #454545;
}

a:link {
  /* unvisited link */
  color: gray;
}

a:visited {
  /* visited link */
  color: gray;
}

a:hover {
  /* mouse over link */
  color: darkgray;
}

a:active {
  /* selected link */
  color: gray;
}

img {
  float: left;
  height: 40px;
  width: 40px;
  margin-left: 10px;
  margin-top: 3px;
  vertical-align: middle;
}

ul {
  display: table; /* center home/login/signup */
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  vertical-align: middle;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

ul.header {
  /*text stuff for header*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #0b3824;
}

ul.navigation {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

ul.footer {
  /*text stuff for footer*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #585858;
  clear: both;
  margin-top: 180px;
  height: 180px;
  font-size: 18px;
  font-weight: bold;
}

p.cleft {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  float: left;
  color: #e1e1e1;
}
p.cright {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  float: right;
  color: #e1e1e1;
}

li {
  margin-left: 10px;
  margin-right: 10px;
  background-color: #ffffff;
  float: left;
  list-style-type: none;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #c8c8c8;
}

h2 {
  text-align: center;
  color: #172940;
}
.signup-form {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16;
}
input {
  border: none;
  background: #f2f2f2;
  padding: 10px;
  border-radius: 3px;
  width: 250px;
  outline: none;
  margin-top: 20px;
}
.login-form {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16;
}
button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 16px;
  height: 30px;
  margin-top: 10px;
  min-width: 60px;
  min-height: 32px;
  border: none;
  color: #fff;
  background-color: #3f3f3f;
  transition: background-color 0.17s ease, color 0.17s ease;
}
p.headtitle {
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
/*  text-align:center;
  font-size:20px;
  font-family:sans-serif;
  margin: 2rem auto;
  border: 2px solid #172940;

  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 4px;*/

/* Table Formatting */
.table-template {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-template thead tr {
  background-color: #172940;
  color: #ffffff;
  text-align: center;
}

.table-template th,
.table-template td {
  padding: 12px 15px;
  text-align: center;
}

.table-template tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table-template tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table-template tbody tr:last-of-type {
  border-bottom: 2px solid #267647;
}

.error-msg {
  color: orange;
}
.hidden {
  display: none;
}
table {
  margin-top: 50px;
}

/* Client Styling */
.week {
  display:flex;
  }
.testbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  padding: 20px;
  }

.item {
  position: relative;
  margin: 10px 0;
}
.item span {
  color:red;
}
.btn-block {
  margin-top: 10px;
  text-align: center;
}
.cancel-link {
  margin-top:5px;
  text-align:center;
}
.question-answer label {
  display: block;
}
